* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1440px;
    padding: 0;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


a {
    text-decoration: none;
    color: #353732;
}


nav {
    display: flex;
    gap: 20px;
}

.new-block {
    display: flex;
    flex-direction: column;
    width: 664px;
    margin: 0 auto;
    margin-top: 100px;
    gap: 10px;
}
 